@import "../lib/ui/taskview.scss";
@import "../lib/ui/previoustasks-dropdown.scss";
@import "../lib/custom-vars.scss";

.task-inspector-form {
  width: 100%;
  max-width: 600px;
  margin: auto;

  input{
    color: $xdark-color;
  }

  label{
    font-size: 14px;
    font-weight: 400;
  }

  .dropdown-menu{
    color: $xdark-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;

    a{
      color: $primary-color;
    }
    ul{
      padding: 0;

      li{
        padding: 10px;
      }
      li:hover{
        background: $xlight-color;

        a{
          color: $xdark-color;
        }
      }
    }
  }
}

.task-inspector-input-group {
  position: relative;

  .dropdown-toggle {
    height: 34px;
    margin-right: 0;
  }

  .form-control-feedback {
    right: 35px;
  }
  .btn{
    padding: 6px 12px;
  }
}