@import "../lib/ui/taskview.scss";
@import "../lib/ui/previoustasks-dropdown.scss";

.module-header {
  text-align: center;
}

.task-inspector-form {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.task-inspector-input-group {
  position: relative;

  .dropdown-toggle {
    height: 34px;
  }

  .form-control-feedback {
    right: 35px;
  }
}